.navbar {
  height: 70px;
  padding: 0 60px;
  background: #111827;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Inria Serif", serif;
  font-style: italic;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}
.nav-links a.active {
  color: #38bdf8;
  font-weight: 600;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Hamburger button */

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}


/* Tablet */

@media (max-width: 900px) {
  .navbar {
    padding: 0 30px;
  }

  .nav-links {
    gap: 20px;
  }
}


/* Mobile */

@media (max-width: 600px) {
  .navbar {
    height: 65px;
    padding: 0 20px;
  }

  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;

    position: absolute;
    top: 65px;
    left: 0;

    width: 100%;

    background: #111827;

    flex-direction: column;
    align-items: center;

    gap: 0;

    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .nav-links a:hover {
    background: #1f2937;
  }
}
 